@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
}
body {
  background: #181b33;
  color: #fcfdff;
  padding: 20px;
  font-family: "Figtree", "Sans", "Poppins";
  /* padding: 0 200px; */
}

button{
  cursor: pointer;
}

section {
  /* height: 100vh; */
  padding: 0 32px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 20px;
  font-weight: 600;
}
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}
.hero-text {
  width: 50%;
  padding-right: 20px;
}
.hero-text h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.hero-text button {
  width: 100px;
  height: 50px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
  border-radius: 10px;
  margin-top: 20px;
}

.hero-text button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}

.hero-text p{
  margin: 10px 0;
  font-size: 16px;
}
.hero-img {
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .hero {
    flex-wrap: wrap;
  }

  .hero-text,
  .hero-img {
    width: 100%;
    text-align: center;
  }

  section {
    padding: 0 12px;
  }
}
