@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
}
body {
  background: #181b33;
  color: #fcfdff;
  /* padding: 20px; */
  font-family: "Figtree", "Sans", "Poppins";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px
}

section {
  /* padding-top: 80px; */
  padding-bottom: 120px;
  height: 100dvh;
}

.question-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
}

.question {
  border: 1px solid #181b33;
  border-radius: 4px;
  padding: 25px;
  /* margin-top: 40px; */
  background-color: #282d49;
}

#main-question {
  margin-top: 25px;
}

.options {
  border: 1px solid #181b33;
  background-color: #282d49;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  padding: 25px;
  margin-top: 20px;
}

.option-box:hover {
  background: #181b33;
  transition: 0.3s all ease-in-out;
}

.option-box.selected {
  background: #181b33;
}

.option-box {
  border-radius: 20px 10px 10px 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.option-box h3 {
  transition: all 0.3s ease-in;
}

.option-box:hover h3 {
  /* font-size: 40px; */
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.option-box.selected .option-text h3 {
  font-size: 20px;
  font-weight: 600;
}

.option-box.selected .option-number {
  border: 1px solid #fcfdff;
  background: #004783;
}

.option-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181b33;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  border: 1px solid #282d49;
  color: #fcfdff;
  cursor: pointer;
}

.option-number button {
  background: #181b33;
  height: 40px;
  width: 40px;
}

.option-text {
  display: block;
  position: relative;
  flex: 1;
}
.option-text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #ffe;
}

.question-box {
  flex: 1;
  width: 70%;
}

.nav-button {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.nav-button button {
  width: 100px;
  height: 50px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}

.nav-button button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}