@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
}
body {
  background: #181b33;
  color: #fcfdff;
  /* padding: 20px; */
  font-family: "Figtree", "Sans", "Poppins";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

section {
  /* padding-top: 80px; */
  padding-bottom: 120px;
  height: 100dvh;
}

.question-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
}

.question {
  border: 1px solid #181b33;
  border-radius: 4px;
  padding: 25px;
  /* margin-top: 40px; */
  background-color: #282d49;
}

#main-question {
  margin-top: 25px;
}

.options {
  border: 1px solid #181b33;
  background-color: #282d49;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  padding: 25px;
  margin-top: 20px;
}

.option-box:hover {
  background: #181b33;
  transition: 0.3s all ease-in-out;
}

.option-box.selected {
  background: #181b33;
}

.option-box {
  border-radius: 20px 10px 10px 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.option-box h3 {
  transition: all 0.3s ease-in;
}

.option-box:hover h3 {
  /* font-size: 40px; */
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.option-box.selected .option-text h3 {
  font-size: 20px;
  font-weight: 600;
}

.option-box.selected .option-number {
  border: 1px solid #fcfdff;
  background: #004783;
}

.option-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181b33;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  border: 1px solid #282d49;
  color: #fcfdff;
  cursor: pointer;
}

.option-number button {
  background: #181b33;
  height: 40px;
  width: 40px;
}

.option-text {
  display: block;
  position: relative;
  flex: 1;
}
.option-text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #ffe;
}

.question-box {
  flex: 1;
  width: 70%;
}

.nav-button {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.nav-button button {
  width: 100px;
  height: 50px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}

.nav-button button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}

.navigation-sidebar {
  width: 30%;
}

.question-nav {
  border: 1px solid #181b33;
  background-color: #282d49;
  border-radius: 4px;
  padding: 25px;
}
.question-nav h3 {
  font-size: 16px;
}

#question-nav-button {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#question-nav-button button {
  width: 100%;
  height: 50px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}

#question-nav-button button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}

#question-review-button {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#question-review-button button {
  width: 100%;
  height: 50px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}

#question-review-button button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}
.nav-number {
  margin-top: 25px;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1em 2em;
  /* padding: 20px; */
  column-gap: 2em;
  text-align: left;
}

.option-number.answered {
  border: 1px solid #282d49;
  background: #2dbe64;
}
.option-number.current {
  border: 1px solid #282d49;
  background: #004783;
}

.nav-number .option-number:hover {
  border: 1px solid #282d49;
  background: #004783;
  transition: all 0.3s ease-in;
}

/* Input Form Page */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 39px;
  /* max-width: 200%; */
  /* margin: 0 auto; */
  padding: 20px;
  border-radius: 15px;
  background: #282d49;
  width: 100%;
}

.form-container .form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container .form-box input {
  height: 30px;
  border: 1px solid #181b33;
  outline: none !important;
  border-radius: 5px;
  padding: 7px;
  /* width: 250px; */
}

.form-container .form-box select {
  outline: none !important;
  height: 45px;
}

.form-container .form-box input:active,
.form-container .form-box input:focus {
  border: 1px solid #181b33;
}

.form-container #form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container button {
  height: 30px;
  width: 100%;
  max-width: 150px;
}

.user-input {
  height: 100dvh;
}
.user-input form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.user-input form p,
.user-input form a {
  font-size: 14px;
  /* text-decoration: none; */
  text-underline-offset: 5px;
  color: #fff;
}

/* Summary */

.summary-content {
  /* padding: 20px; */
}

.summary-header {
  padding: 20px;
  display: flex;
  align-items: center;
  background: #282d49;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
}

.summary-content .summary-content-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
  padding-bottom: 120px;
}

.summary-content-inner {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* flex: 1; */
}

.question-summary {
  display: flex;
  gap: 20px;
  background: #282d49;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.summary-content-container table {
  border-collapse: collapse;
}

.summary-content-container .summary-details-card table {
  width: 100%;
}

.summary-content-container table td {
  border: 1px solid #181b33;
  border-collapse: collapse;
  padding: 10px;
}

.question-summary-no {
  background: #181b33;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.question-summary-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.summary-details {
  flex: 1;
  width: 30%;
  position: relative;
  display: block;
}

.summary-details-card {
  border: 1px solid #181b33;
  background-color: #282d49;
  border-radius: 4px;
  padding: 25px;
  min-height: 150px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
}
.summary-details-card h3 {
  margin-bottom: 20px;
}

.question-summary-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
}

.summary-key {
  display: flex;
  align-items: center;
  gap: 10px;
}

#another {
  width: 100%;
  font-size: 20px;
  margin: 10px 0;
}

/*Review page styling*/
.review-header {
  padding: 20px;
  display: flex;
  align-items: center;
  background: #282d49;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
}
.review-question-button {
  display: flex;
  align-items: center;
  justify-content: right;
}
.review-question-button button {
  width: 170px;
  height: 45px;
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}
.review-question-button button:hover {
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;
}
.close-btn {
  background: transparent;
  border: none;
  color: #fcfdff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 4px;
}

.close-btn:hover {
  color: #ff4d4d;
}
.submit-btn button{
  width: 100px;
  height: 50px;
  border: 1px solid #181b33;
  background-color: #fcfdff;
  color: #0d0d0e;

}
.submit-btn button:hover{
  color: #fcfdff;
  border: 1px solid #181b33;
  background-color: #004783;
}

@media only screen and (max-width: 992px) {
  .question-container,
  .summary-header {
    flex-wrap: wrap;
  }

  .question-box,
  .summary-content-inner,
  .navigation-sidebar,
  .summary-details {
    width: 100%;
  }

  .summary-content .summary-content-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 640px) {
  .user-input form {
    max-width: 300px;
  }
}


body.modal-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: #181b33;
  opacity: 0.6;
  z-index: 4;
}

#submit-modal {
  position: fixed;
  max-width: 425px;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 8px;
  color: #000;
  display: none;
}

#submit-modal.active {
  display: block;
}

#submit-modal button{
  cursor: pointer;
}

.submit-btn #question-nav-button{
  margin-top: 0px ;
}